{% extends 'appentrega/base.html' %}

{% block titulo %} Lista de Entregables {% endblock titulo %}

{% block botoncentral %}<a style= "color: #1b3d5b"class="btn btn-primary btn-lg" href="{% url 'CrearEntregable' %}">Agregar Entregas</a>{% endblock botoncentral %}


{% block contenidoQueCambia %}

{% if entregables %}

{% for entregable in entregables %}
<div style="background-color: #d0d5de; color: #1b3d5b">
    <p><strong>Nombre:</strong> {{ entregable.nombre }}</p>
    <p><strong>Entregado:</strong> {{ entregable.entregado }}</p>
    <a href="{% url 'ActualizarEntregable' entregable.pk %}">Editar</a>
    <a href="{% url 'BorrarEntregable' entregable.pk %}">Borrar</a>
    <a href="{% url 'DetalleEntregable' entregable.pk %}">Detalles</a>
</div>
{% endfor %}
{% else %}
<div style="background-color: #b4c0ce; color: #1b3d5b;">
<p>No hay Entregables disponibles.</p>
<a href="{% url 'CrearEntregable' %}" style="color: #1b3d5b;">Lista de un nuevo Entregable</a>
</div>
{% endif %}

{% endblock contenidoQueCambia %}


{% block titulocentral %}
Lista de Entregables
{% endblock titulocentral %}
    