{% extends 'appentrega/base.html' %}

{% load static %}

{% block titulo %}Login{% endblock titulo %}

{% block contenidoQueCambia %}
    <div  class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <p class="fs-5 fw-bold">{{ msg_login }}</p>

            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}
                <input type="submit" value="Iniciar sesión">

            </form>

        </div>
    </div>
{% endblock contenidoQueCambia %}

{% block titulocentral %}
    Login :D
{% endblock titulocentral %}
